* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
}

body {
    background-color: #7900FF;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stopwatch {
    font-family: sans-serif;
    max-width: 800px;
    margin: 1em;
}

.stopwatch__title {
    color: #CFFFDC;
    font-size: 4em;
    margin-bottom: 1rem;
}

.stopwatch__time {
    font-size: 4em;
    margin-bottom: 1rem;
    color: #CFFFDC;
}

.stopwatch__container {
    max-width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.stopwatch__button {
    display: block;
    background-color: #93FFD8;
    border: none;
    color: #7900FF;
    font-family: sans-serif;
    font-size: 1.6em;
    font-weight: 700;
    border-radius: 0.6em;
    padding: 0.2em 1em;
}

.stopwatch__button:hover {
    opacity: 0.85;
}